/*----------------------------------------
  Contacts Page
------------------------------------------*/
.content-area
{
    width: -webkit-calc(100% - 280px);
    width:    -moz-calc(100% - 280px);
    width:         calc(100% - 280px); 
    margin-top: 49px;
}
.content-area.content-left
{
    float: left;
}
.content-area.content-right
{
    float: right;
}
.content-area .app-wrapper .margin-top-contact
{
    margin-top: -.35rem;
}
.content-area .app-wrapper .dataTables_wrapper .dataTables_scroll .dataTables_scrollBody
{
    overflow: hidden !important;
}
.content-area .app-wrapper .dataTables_wrapper.no-footer .dataTables_scrollBody
{
    border-color: rgba(0, 0, 0, .12);
}
.content-area .app-wrapper .dataTables_wrapper table.dataTable thead th
{
    min-width: 69px;

    color: #616161;
}
.content-area .app-wrapper .dataTables_wrapper table.dataTable thead th.background-image-none
{
    background-image: none !important;
}
.content-area .app-wrapper .dataTables_wrapper table.dataTable th,
.content-area .app-wrapper .dataTables_wrapper table.dataTable td
{
    font-weight: 300;

    padding: 17px 14px;

    white-space: nowrap; 

    border-bottom: 1px solid #cfd8dc;
}
.content-area .app-wrapper .dataTables_wrapper table.dataTable tbody
{
    overflow: auto; 

    max-width: 100%;
    height: 300px;
}
.content-area .app-wrapper .dataTables_wrapper table.dataTable tbody th,
.content-area .app-wrapper .dataTables_wrapper table.dataTable tbody td
{
    padding: 8px 14px;

    white-space: nowrap; 

    border: none !important;
}
.content-area .app-wrapper .dataTables_wrapper table.dataTable tbody th i.material-icons,
.content-area .app-wrapper .dataTables_wrapper table.dataTable tbody td i.material-icons
{
    cursor: pointer; 

    color: #9e9e9e;
}
.content-area .app-wrapper .dataTables_wrapper table.dataTable tfoot th,
.content-area .app-wrapper .dataTables_wrapper table.dataTable tfoot td
{
    font-weight: 300;

    white-space: nowrap; 

    border-top: 1px solid #cfd8dc;
}
.content-area .app-wrapper .dataTables_wrapper table.dataTable.stripe tbody tr,
.content-area .app-wrapper .dataTables_wrapper table.dataTable.display tbody tr
{
    height: auto;
}
.content-area .app-wrapper .dataTables_wrapper table.dataTable.stripe tbody tr.odd,
.content-area .app-wrapper .dataTables_wrapper table.dataTable.display tbody tr.odd
{
    background-color: #f4f5f7;
}
.content-area .app-wrapper .dataTables_wrapper table.dataTable.stripe tbody tr.odd > .sorting_1,
.content-area .app-wrapper .dataTables_wrapper table.dataTable.display tbody tr.odd > .sorting_1
{
    background-color: transparent;
}
.content-area .app-wrapper .dataTables_wrapper table.dataTable.display tbody tr.hover > .sorting_1,
.content-area .app-wrapper .dataTables_wrapper table.dataTable.display tbody tr:hover > .sorting_1,
.content-area .app-wrapper .dataTables_wrapper table.dataTable.order-column.hover tbody tr.hover > .sorting_1,
.content-area .app-wrapper .dataTables_wrapper table.dataTable.order-column.hover tbody tr:hover > .sorting_1
{
    background-color: transparent;
}
.content-area .app-wrapper .dataTables_wrapper table [type='checkbox'] + span:not(.lever):before,
.content-area .app-wrapper .dataTables_wrapper table [type='checkbox']:not(.filled-in) + span:not(.lever):after
{
    opacity: .5; 
    border-radius: 4px !important;
}
.content-area .app-wrapper .dataTables_wrapper .dataTables_length,
.content-area .app-wrapper .dataTables_wrapper .dataTables_filter
{
    display: none;
}
.content-area .app-wrapper .dataTables_wrapper .dataTables_info
{
    margin-left: 18px;

    color: #616161;
}
.content-area .app-wrapper .dataTables_wrapper .dataTables_paginate
{
    margin-right: .35rem; 
    margin-bottom: .75rem;
}
.content-area .app-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button
{
    margin-top: .25rem; 
    padding: .25em .65em;
}
.content-area .app-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.content-area .app-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover
{
    color: #fff !important;
    border: 1px solid #2196f3;
    border-radius: 6px;
    background: #2196f3;
    -webkit-box-shadow: 0 0 8px 0 #2196f3;
            box-shadow: 0 0 8px 0 #2196f3;
}
.content-area .app-wrapper .dataTables_wrapper .dataTables_paginate .paginate_button:hover
{
    color: #fff !important;
    border: 1px solid #2196f3;
    border-radius: 6px;
    background: #2196f3;
    -webkit-box-shadow: 0 0 8px 0 #2196f3;
            box-shadow: 0 0 8px 0 #2196f3;
}
.content-area .app-wrapper .datatable-search
{
    position: relative;
}
.content-area .app-wrapper .datatable-search .search-icon
{
    position: absolute;
    top: 15px;
    left: 15px;

    color: #bdbdbd;
}
.content-area .app-wrapper .datatable-search .app-filter
{
    max-width: -webkit-calc(100% - 3rem);
    max-width:    -moz-calc(100% - 3rem);
    max-width:         calc(100% - 3rem);
    margin-bottom: .5rem;
    padding: .2rem;
    padding-left: 2.75rem;

    border: none;
    border-radius: .4rem;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
}
.content-area .app-wrapper .datatable-search .app-filter:focus
{
    border-bottom: none !important; 
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2) !important;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2) !important;
}
.content-area .app-wrapper .avatar-contact img
{
    width: 38px;

    border-radius: 50%; 
    background-color: #f5f5f5;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .12);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .12);
}

@media only screen and (max-width: 992px)
{
    table.responsive-table thead tr
    {
        padding: 0 10px 0 0;
    }
}

@media (max-width: 600px)
{
    .content-area .app-wrapper .sidenav-trigger
    {
        display: block !important;

        width: 45px; 
        margin-top: 15px !important;
        margin-bottom: 5px !important;
        padding: 10px;

        color: #fff;
        background-color: #2196f3 !important;
    }
    .content-area .app-wrapper .dataTables_wrapper table.dataTable
    {
        height: -webkit-calc( 100vh - 530px);
        height:    -moz-calc( 100vh - 530px);
        height:         calc( 100vh - 530px);
    }
}

@media (max-width: 900px)
{
    .content-area
    {
        margin-top: -110px !important;
    }
    .content-area.content-right,
    .content-area.content-left
    {
        z-index: 1; 

        float: none !important;

        width: 100%;
    }
    .sidebar .sidebar-content .sidenav-trigger
    {
        top: 88px;
    }
}

@media only screen and (max-width: 767px)
{
    .content-area .app-wrapper .dataTables_wrapper .dataTables_info
    {
        display: none;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px)
{
    .dataTables_wrapper.no-footer div.dataTables_scrollBody > table
    {
        height: 850px; 

        border-bottom: none;
    }
}
