/*----------------------------------------
  Email App
------------------------------------------*/
.app-email .content-area
{
    width: -webkit-calc(100% - 280px);
    width:    -moz-calc(100% - 280px);
    width:         calc(100% - 280px); 
    margin-top: 49px;
}
.app-email .content-area.content-left
{
    float: left;
}
.app-email .content-area.content-right
{
    float: right;
}
.app-email .content-area .app-wrapper .app-search
{
    position: relative;
}
.app-email .content-area .app-wrapper .app-search .search-icon
{
    position: absolute;
    top: 15px;
    left: 15px;

    color: #bdbdbd;
}
.app-email .content-area .app-wrapper .app-search .app-filter
{
    max-width: -webkit-calc(100% - 3rem);
    max-width:    -moz-calc(100% - 3rem);
    max-width:         calc(100% - 3rem);
    margin-bottom: .5rem;
    padding: .2rem;
    padding-left: 2.75rem;

    border: none;
    border-radius: .4rem;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
}
.app-email .content-area .app-wrapper .app-search .app-filter:focus
{
    border-bottom: none !important; 
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2) !important;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2) !important;
}
.app-email .content-area .app-wrapper .email-header
{
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;

    padding: 1rem 1.5rem 1rem 0;

    border-bottom: 1px solid #e0e0e0; 

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
    -ms-flex-pack: justify;
            justify-content: space-between;
}
.app-email .content-area .app-wrapper .email-header .left-icons
{
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;

    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
       -moz-box-align: baseline;
    -ms-flex-align: baseline;
            align-items: baseline;
}
.app-email .content-area .app-wrapper .email-header .left-icons .action-icons
{
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;

    width: 300px; 
    margin-left: 1rem;

    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
    -ms-flex-align: center;
            align-items: center;
}
.app-email .content-area .app-wrapper .email-header i.material-icons
{
    cursor: pointer;

    color: #9e9e9e;
}
.app-email .content-area .app-wrapper .email-header .header-checkbox [type='checkbox'] + span:not(.lever):before,
.app-email .content-area .app-wrapper .email-header .header-checkbox [type='checkbox']:not(.filled-in) + span:not(.lever):after
{
    margin-left: 1.5rem; 

    opacity: .5;
    border-radius: 4px !important;
}
.app-email .content-area .app-wrapper .delete-task,
.app-email .content-area .app-wrapper .delete-tasks,
.app-email .content-area .app-wrapper .sort-task
{
    cursor: pointer;
}
.app-email .content-area .app-wrapper .collection
{
    margin: 0;

    border: 0;
}
.app-email .content-area .app-wrapper .collection .collection-item
{
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;

    margin: auto 1.35rem; 
    padding-right: 0;
    padding-left: 0;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
    -ms-flex-pack: justify;
            justify-content: space-between;
}
.app-email .content-area .app-wrapper .collection .collection-item .list-content
{
    width: 85%;
}
.app-email .content-area .app-wrapper .collection .collection-item .list-content .list-title-area
{
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;

    margin-bottom: .75rem; 

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
    -ms-flex-pack: justify;
            justify-content: space-between;
}
.app-email .content-area .app-wrapper .collection .collection-item .list-content .list-title-area .user-media
{
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;

    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
    -ms-flex-align: center;
            align-items: center;
}
.app-email .content-area .app-wrapper .collection .collection-item .list-content .list-title-area .user-media img.avtar
{
    width: 38px;
    height: 38px;
    margin-right: .75rem;
}
.app-email .content-area .app-wrapper .collection .collection-item .list-content .list-title
{
    font-weight: 700;

    color: #424242;
}
.app-email .content-area .app-wrapper .collection .collection-item .list-content .list-desc
{
    font-size: .9rem;
    line-height: 1.35rem; 

    margin-top: .25rem;

    color: #616161;
}
.app-email .content-area .app-wrapper .collection .collection-item .list-content .badge
{
    font-size: .8rem;

    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;

    padding-right: 8px; 

    color: #616161;
    border-radius: 4px;
}
.app-email .content-area .app-wrapper .collection .collection-item .list-content .badge i
{
    font-size: 1rem;
    line-height: 1.5rem;

    margin-right: .25rem !important;
}
.app-email .content-area .app-wrapper .collection .collection-item .list-date
{
    font-size: .8rem;

    color: #616161;
}
.app-email .content-area .app-wrapper .collection .collection-item .favorite i.material-icons,
.app-email .content-area .app-wrapper .collection .collection-item .email-move i.material-icons,
.app-email .content-area .app-wrapper .collection .collection-item .delete-task i.material-icons,
.app-email .content-area .app-wrapper .collection .collection-item .email-label i.material-icons,
.app-email .content-area .app-wrapper .collection .collection-item .attach-file i.material-icons
{
    cursor: pointer; 

    color: #bdbdbd;
}
.app-email .content-area .app-wrapper .collection .collection-item .attach-file i.material-icons
{
    font-size: 1.4rem; 

    -webkit-transform: rotate(270deg);
       -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
         -o-transform: rotate(270deg);
            transform: rotate(270deg);
}
.app-email .content-area .app-wrapper .collection .collection-item .email-move i.icon-move
{
    margin-top: 15px;
}
.app-email .content-area .app-wrapper .collection .collection-item [type='checkbox'] + span:not(.lever):before,
.app-email .content-area .app-wrapper .collection .collection-item [type='checkbox']:not(.filled-in) + span:not(.lever):after
{
    margin-left: 3px; 

    opacity: .5;
    border-radius: 4px !important;
}

body.dragging,
body.dragging *
{
    cursor: move !important;
}

.dragged
{
    position: absolute;
    z-index: 2000; 

    opacity: .5;
}

.modal .modal-footer .btn
{
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display:    -moz-inline-box;
    display: -ms-inline-flexbox;
    display:         inline-flex;
}
.modal .modal-footer .btn i.material-icons
{
    margin-right: .5rem;
}

@media (max-width: 900px)
{
    .content-area
    {
        margin-top: -110px !important;
    }
    .content-area.content-right,
    .content-area.content-left
    {
        z-index: 1; 

        float: none !important;

        width: 100%;
    }
    .sidebar .sidebar-content .sidenav-trigger
    {
        top: 87px;
    }
}
