// BEGIN: VENDOR CSS
link(rel='stylesheet', type='text/css', href=app_assets_path + '/vendors'+rtl+'/vendors.min.css')
block vendorcss
// END: VENDOR CSS

//- BEGIN: THEME  CSS
//- if (useDirection == 'rtl')
//- 	link(rel='stylesheet', type='text/css', href=app_assets_path + '/css'+rtl+'/custom'+rtl+'.css')
//-END: THEME  CSS

// BEGIN: Page Level CSS
block pagecss
// END: Page Level CSS

// BEGIN: Custom CSS
link(rel='stylesheet', type='text/css', href=app_assets_path + '/css/custom/custom'+rtl+'.css')
// END: Custom CSS