//- =========================================================================================
	File Name: changelog.pug
	Description: Change log
	----------------------------------------------------------------------------------------
	Item Name: Materialize - Material Design Admin Template
	Version: 5.0
	Author: PixInvent
	Author URL: https://pixinvent.com/
	========================================================================================== 

extends template

block pageVars
	- var pageTitle = "Changelog"
	- var pageSubTitle = ""
	- var description  = ""
	- var activeParentMenu = "changelog"
	- var activeMenu = "changelog"

append pageConfig	
	- var headerType = 'sk-header'
	- var starterKit    = true
	
block breadcrumbs
	+breadcrumbs([{url:"index.html",name:"Home"}, {name:"Changelog"}])

//- Include page content in page block
append content
	include ../../contents/changelog.html
	include ../../contents/sidebar/right-sidebar.html
	include ../../contents/sidebar/fab-menu.html

append pagecss